.bg-custom-color {
  background-color: #010851;
}
.custom-text-color {
  color: #010851;
}
.bg-ee9ae5 {
  background-color: #ee9ae5;
}
.text-ED80FD-color {
  color: #ED80FD;
}
.bg-ED80FD-color{
  background-color: #ED80FD;
}

